<!--views/my-library-->

<%- include('partials/header'); -%>

<header>
    <% if (user && user.firstName) { %>
        <!-- User is logged in -->
        <h2>Welcome <%= user.firstName %>!</h2>
        <a href="/api/user/logout" class="btn">Logout</a>
    <% } else { %>
        <!-- User is not logged in -->
        <h2>Welcome Guest!</h2>
    <% } %>
</header>

<%- include('partials/footer'); -%>

<!--end of file-->